
* {
  box-sizing: border-box;
}

html {
  font-family:"Helvetica", "Times Roman", serif;
  font-size:22px;
  color:seashell;
  background-color:black;
  opacity:0.9;
}

    /* Header Section */
header {
  display:flex;
  position:fixed;
  background-color:black;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  padding-left:10px;
  padding-right:10px;
  height:69px;
  width:100%;
  z-index:5;
}

.navigation {
   padding:10px;
}

.navlink {
  color:seashell;
  margin:10px;
}



  /* Main Section - Body of Page*/
/* Main Section contains Mission Section & Featured Tea Section */

main {
  position:relative;
  top:80px;
  margin-bottom: 90px;
  z-index:1;
}

   /* Mission Section */
#Mission {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height:700px;
  width:1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-position:center;
  background-size:1200px;
  margin:0 auto;
}

.mission {
  background-color:black;
  width:1200px;
  text-align:center;
}



    /*Featured Tea Section*/

#FeaturedTea {
  text-align:center;
  width:1000px;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
}

.featuredtea {
  display:flex;
  flow-direction:row;
  align-items:center;
  text-align:center;
  justify-content: space-around;
  width:1000px;
  flex-wrap:wrap;
  line-height:10px;
}


.teaofmonth {
  text-align:center;
  width:1000px;
  margin:0 auto;
}


.MyrtleAveTea {
  display:inline-block;
  margin-right:30px;
  width:300px;
}

.BizarreTea {
  display:inline-block;
  margin:0;
  padding:0;
  width:300px;
}


  /* Location Section*/


#Locations {
  height:500px;
  width:1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-position:center;
  background-size:1200px;
  margin:0 auto;
}

.locationheader {
  padding-top:20px;
  text-align:center;
  width:1200px;
  margin:0 auto;
  margin-bottom:15px;
}

.storelocations {
  text-align:center;
  width:1200px;
  margin:0 auto;
}

.Downtown {
  width:300px;
  background-color:black;
  display:inline-block;
  margin-right:40px;
  line-height: 15px;
  text-align: center;
  opacity:1;
}

.EastBayside {
  width:300px;
  display:inline-block;
  margin-right:40px;
  background-color:black;
  line-height: 15px;
  text-align:center;
  opacity:1;
}

.Oakdale {
  width:300px;
  display:inline-block;
  margin:0 auto;
  background-color:black;
  line-height:15px;
  text-align:center;
  opacity:1;
}

    /* Footer */

.contact {
  height: 200px;
  text-align:center;
  color:seashell;
}

.copyright {
  font-size:20px;
  padding-left:20px;
}

/*.seashell {
  color:seashell;
}*/
